#ifndef WS_CAPTION
#include <windows.h>
#include <shlobj.h>
#endif
#include "iftwic.h"

IDD_CONFIG DIALOG 0, 0, 224, 218
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "WIC Susie Plug-in"
{
 CONTROL "カメラの回転情報(EXIF)を反映する(&E)", IDX_EXIFROTATE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 4, 216, 10, 0
 CONTROL "カラーを sRGB に調整する(低速)(&C)", IDX_COLORPROFILE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 16, 216, 10, 0
 CONTROL "ICCプロファイル付画像なら埋め込む ※要対応ソフト(&I)", IDX_EMBEDPROFILE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 28, 216, 10, 0

 CONTROL "透過情報が無い32bit画像を24bit画像に変換する(&A)", IDX_CONV32NOALPHA, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 40, 216, 10, 0
 CONTROL "パレットから透過情報を除去する(&P)", IDX_WIPEALPHAONPALETTE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 52, 216, 10, 0

 CONTROL "透過画像の背景を格子柄にする(&F)", IDX_TRANSP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 64, 216, 10, 0
 CONTROL "アスペクト比調整をする(&R)", IDX_ASPECT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 76, 216, 10, 0

#ifndef _WIN64
 CONTROL "Susie 0.4xのサムネイル表示対策(&S)", IDX_SUSIEFIX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 88, 216, 10, 0
#endif
 CONTROL "ユーザ別に設定を保存する(&U)", IDX_SAVEAPPDATA, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 100, 216, 10, 0
 CONTROL "( %APPDATA%\\TOROID\\iftwic.cfg )", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 110, 196, 10, 0

 CONTROL "使用するコーデックとその拡張子(&L) ※優先度指定はできません。", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 122, 216, 10, 0
 CONTROL "", IDV_CODECS, WC_LISTVIEW, WS_BORDER | WS_CHILD | WS_VISIBLE | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL, 4, 132, 216, 60, 0

 CONTROL "簡易ページめくり(開くたびに次ページ、&G)", IDX_TinyPage, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 194, 216, 10, 0
#if 0
 CONTROL "追加拡張子(&T)(ext1,ext2,...)", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 194, 216, 10, 0
 CONTROL "", IDE_EXTEXT, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_BORDER | WS_TABSTOP | WS_VISIBLE, 4, 204, 216, 12, 0
#endif
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 125, 204, 45, 12
 CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 175, 204, 45, 12
}

IDD_CONFIGE DIALOG 0, 0, 224, 218
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "WIC Susie Plug-in"
{
 CONTROL "Rotate image by Camera EXIF(&E)", IDX_EXIFROTATE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 4, 216, 10, 0
 CONTROL "Fix by sRGB (slow)(&C)", IDX_COLORPROFILE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 16, 216, 10, 0
 CONTROL "Support embeded ICC profile(require BMPv5, &I)", IDX_EMBEDPROFILE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 28, 216, 10, 0

 CONTROL "Convert 32bit image without alpha to 24bit image(&A)", IDX_CONV32NOALPHA, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 40, 216, 10, 0
 CONTROL "Remove alpha from palette(&P)", IDX_WIPEALPHAONPALETTE, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 52, 216, 10, 0

 CONTROL "Fix transparent image(&F)", IDX_TRANSP, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 64, 216, 10, 0
 CONTROL "Fix aspect rate(&R)", IDX_ASPECT, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 76, 216, 10, 0
#ifndef _WIN64
 CONTROL "Susie 0.4x Fix(&S)", IDX_SUSIEFIX, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 88, 216, 10, 0
#endif
 CONTROL "Use User Setting space(&U)", IDX_SAVEAPPDATA, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 100, 216, 10, 0
 CONTROL "( %APPDATA%\\TOROID\\iftwic.cfg )", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 24, 110, 196, 10, 0

 CONTROL "List of using codecs and extentions(&L)", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 122, 216, 10, 0
 CONTROL "", IDV_CODECS, WC_LISTVIEW, WS_BORDER | WS_CHILD | WS_VISIBLE | WS_HSCROLL | WS_VSCROLL | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL, 4, 132, 216, 60, 0

 CONTROL "Outputs next page at every opening. (&G)", IDX_TinyPage, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 194, 216, 10, 0
#if 0
 CONTROL "Append extensions(&T)(ext1,ext2,...)", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 194, 216, 10, 0
 CONTROL "", IDE_EXTEXT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_BORDER | WS_TABSTOP | WS_VISIBLE, 4, 204, 216, 12, 0
#endif

 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 125, 206, 45, 12
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 175, 206, 45, 12
}

STRINGTABLE
{
IDS_COLUMN1E "Extensions"
IDS_COLUMN2E "codec name"
IDS_COLUMN3E "version"
IDS_COLUMN4E "author"

IDS_COLUMN1J "拡張子"
IDS_COLUMN2J "コーデック名"
IDS_COLUMN3J "バージョン"
IDS_COLUMN4J "作成者"
}
//-------------------------------------------------------------- バージョン情報
1 VERSIONINFO LOADONCALL MOVEABLE
FILEVERSION		VERSION
PRODUCTVERSION	VERSION
FILEOS		VOS__WINDOWS32
FILETYPE	VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	BLOCK "041103A4" // 言語=日本語(0x0411) およびキャラクタセット=SJIS(0x03a4)
	BEGIN
	  VALUE "CompanyName",		"TOROid\0"
	  VALUE "FileDescription",	APPNAME "\0"
	  VALUE "FileVersion",		VERSIONS "\0"
	  VALUE "InternalName",		APPNAME "\0"
	  VALUE "LegalCopyright",	Copyright "\0"
	  VALUE "OriginalFilename", APPNAME ".DLL\0"
//	  VALUE "Comments",			"\0"
	END
  END
  BLOCK "VarFileInfo"
  BEGIN
	VALUE "Translation", 0x0411, 932  // Japanese	| Shift-JIS X-0208
  END
END
